:root {
    // application constants
    --app-1rem: 62.5%;
    // font sizes

    // colors
    --app-white: #ffffff;
    --app-black: #000000;

    // form variables
    --form-control-width: 100%;
    --form-padding: 10px;
    --form-block-padding: 10px 0;
    --form-input-height: 30px;
}

$app-white: #ffffff;
$app-black: #000000;
