<form [formGroup]="loginForm">
    <div class="form-block">
        <div class="form-label">
            <label for="email">Email</label>
        </div>
        <div class="form-input">
            <input type="email" class="email" formControlName="email">
        </div>
    </div>
    <div class="form-block">
        <div class="form-label">
            <label for="password">Password</label>
        </div>
        <div class="form-input">
            <input type="password" class="password" formControlName="password">
        </div>
    </div>
</form>